<nav class="navbar navbar-expand-lg navbar-light  " id="nav">
    <div class="container-fluid  mx-0 w-100 mb-auto">

 
        <button class="navbar-toggler fixed-top" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" style="top:10px;left:10px"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse w-100 m-5" id="navbarSupportedContent">


            <aside class="w-100 position-sticky-fixed bg-pink-light">
                <div class="w-100">

                    <a class="navbar-brand text-center" href="index">
                        <h4 class="fw-bold">Ehsas Elias</h4>
                        <div>
                        <img src="/public/images/b.jpg" alt="" width="200" height="200" class="rounded-pill">
                        </div>
                    </a>

                    <div class="btn-group-vertical " role="group"
                        aria-label="Button group with nested dropdown">
                        <span class="link-secondary mt-5">Tools</span>
                        <a href="index" type="button"
                            class="btn d-flex align-items-center mt-3  rounded-pill py-2 pe-5"><i
                                class="fa fa-home p-2"></i>Dashboard</a>
                        <a href="profileEdit" type="button"
                            class="btn d-flex align-items-center mt-3  rounded-pill py-2 pe-5"><i
                                class="fa fa-pencil p-2"></i>Edit Profile</a>
                        <a href="skills" type="button"
                            class="btn d-flex align-items-center mt-3  rounded-pill py-2 pe-5"><i
                                class="fa  fa-cogs p-2"></i>Skills</a>
                        <a href="exper" type="button"
                            class="btn d-flex align-items-center mt-3 rounded-pill py-2 pe-5"><i
                                class="fa  fa-briefcase p-2"></i>Work Experience</a>
                        <a href="edu&trains" type="button"
                            class="btn d-flex align-items-center mt-3 rounded-pill py-2 pe-5"><i
                                class="fa fa-book p-2"></i>Edu & Train</a>
                        <a href="" type="button"
                            class="btn d-flex align-items-center mt-3 rounded-pill py-2 pe-5"><i
                                class="fa fa-heart-o p-2"></i>Favorite Jobs</a>
                        <a href="" type="button"
                            class="btn d-flex align-items-center mt-3 rounded-pill py-2 pe-5"><i
                                class="fa fa-lock p-2"></i>Change Password</a>


                    </div>
                </div>

                <div class="w-100">



                    <div class="btn-group-vertical" role="group" aria-label="Button group with nested dropdown">
                        <span class="link-secondary mt-5">Insights</span>
                        <a href="" type="button"
                            class="btn d-flex align-items-center mt-3 rounded-pill py-2 pe-5"><i
                                class="fa  fa-envelope-o p-2"></i>Inbox <span></span></a>
                        <a href="" type="button"
                            class="btn d-flex align-items-center mt-3 rounded-pill py-2 pe-5"><i
                                class="fa fa-bell-o p-2"></i>Notification <span></span></a>



                    </div>
                </div>
            </aside>
        </div>


    </div>

</nav>